
@{
    ViewBag.Title = "ANA SAYFA";
   
}

<div class="jumbotron">
    <h1 style="text-align:center;">NORTHWIND</h1>
</div>


<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        @*<input id="Button3" class="btn btn-default" type="button" value="BAASS" onclick="location.href='@Url.Action("Items", "Home")'" />*@
    </div>
</div>

